.sis.sheet.actor {

  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */

  // Attribute Configuration
  .config-button { 
    color: @colorOlive; 
    right: -6px;
    top: -3px;
    font-size: 10px;
    font-weight: normal;
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  .sheet-header {
 
    // Portrait Artwork
    img.profile { 
      flex: 0 0 80px; 
      max-width: 80px;
      height: 80px;
    }

    // Character Name
    div.input-box {      
      padding: 0;
      margin: 10px 10px 0 10px;  
      h5 {        
        color: red;
        margin: 0;        
      }    
      input {
        height: 30px;
        margin: 0;        
      }
    }    
  }
}