@actorNameHeight: 40px;

@actorColorBorder: #b5b3a4;

.sis.sheet.actor.player-character {
    form {
        display: flex;
        flex-direction: row; 
    }   
    
    h4.label {
        color: @colorOlive;
        margin: 2px 0 0 0;
    }

    h6.label {
        margin: 0;
        font-weight: lighter;
        font-style: italic;
        text-align: center;
    }

    div.input-cell-spacer {
        max-width: 20px;
        text-align: center;
    }

    div.stat-box {
        color: @colorOlive;
        margin: 6px 4px;

        input {
            background-color: transparent;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid @actorColorBorder;
            color: @colorSigil;
            margin: 0;
            font-size: 1.2em;
        }

        input.center {
            text-align: center;
        }
    }

    .sheet-left {         
        max-width: 160px;
        border-right: 1px solid @actorColorBorder;
        padding: 0 8px;
        img.avatar { 
            border-radius: 0;
            flex: 0 0 140px; 
            height: 140px;
            max-width: 140px;
            margin-right: 4px;
            -webkit-box-shadow: 2px 2px 16px -10px rgba(66, 68, 90, 1);
            -moz-box-shadow: 2px 2px 16px -10px rgba(66, 68, 90, 1);
            box-shadow: 2px 2px 16px -10px rgba(66, 68, 90, 1);
        }
    }

    .sheet-body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 8px;
        
        .sheet-profile {
            color: @colorOlive;

            .character-name {
                height: @actorNameHeight;
                padding: 0;
                border-color: @actorColorBorder;
                border-bottom-width: 1px;
                margin: 0 4px 4px 4px;
                input {
                    background-color: transparent;
                    border: none;
                    color: @colorSigil;
                    height: @actorNameHeight - 4px;
                }
            }

            .abilities-container {
                justify-content: space-between;
                padding: 8px 0;
                .ability-box {
                    text-align: center;
                    margin: 0 6px;

                    h2 {
                        font-family: 'FBI Old Report-Regular';
                        text-align: center;
                        margin: 6px 0 0 0;
                        border: none;
                        input {
                            border: none;
                        }
                    }
                    
                    input {
                        color: @colorSigil;
                        background-color: transparent;
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid @actorColorBorder;
                        margin: 0;
                        font-size: 1.2em;
                    }
                }
            }
        }
        
        .sheet-tabs-panel {
            height: 100%;
            width: 100%;
            .tab {
                width: 100%;
                height: 100%;
            }
        }
        .editor {
            height: 100%; 
        }

        .items-pane {
            .items-button {
                max-width: 30px;
            }
            .items-actions {
                max-width: 30px;
            }
            .items-list {
                list-style-type: none;
                padding: 0;
                li {
                    color: @colorOlive;
                    justify-content: space-between;
                    h4 {
                        border-bottom: 1px solid @actorColorBorder;
                        white-space: nowrap;
                        margin: 4px; 
                        padding: 0 0 4px 0px;
                    }
                }
                li.items-header {
                    padding: 0 2px;
                }
                li.item {
                    h4.item-name {
                        color: @colorSigil;

                        i {
                            margin: 0 8px;
                        }
                    }
                    .items-icon {
                        max-width: 30px;
                        text-align: center;
                    }
                }
            }
        }
        .stat-pane {
            padding: 4px 4px 0 4px;
            .stat-header {
                justify-content: space-between;
            }
            .stat-button {
                max-width: 30px;
            }
            .stat-list {
                list-style-type: none;
                padding: 0;
                margin: 2px 0;
                li {
                    color: @colorOlive;
                    border-bottom: 1px solid @actorColorBorder;
                }
                li.stat-item { 
                    padding: 0 2px;
                    margin-bottom: 4px;
                    h4.item-name {
                        color: @colorSigil;
                        border: none;
                        font-size: 1.2em;
                        margin-bottom: 0;
                    }

                    h5 {
                        margin: 0 0 0.5em 0;
                        font-weight: lighter;
                    }
                }
            }
        }
    } 
}