.sis.sheet.actor.player-character {
    form {
        display: flex;
        flex-direction: column; 
    }    

    .sheet-header {         
        display: flex;
        flex-direction: row;  
        align-items: flex-start;
        // min-width: 720px;
        // min-height: 680px;
        
        img.profile { 
            flex: 0 0 200px; 
            max-width: 200px;
            height: 200px;
        }

        .charname {
            flex-grow: 4;        
        } 

        .editor {
            height: 100%;
        }
    } 
    .sheet-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
         
        .editor {
            height: 100%; 
        }
        .left-panel {
            flex: 0 0 180px;
        }
    } 
}