
<div class="flexrow">
    {{!-- ODDIETIES --}}
    <div class="flexcol">
        
    </div>
    {{!-- DESCRIPTORS --}}
    <div class="flexcol">
        <h5>Descriptors</h5>
    </div>
</div>  


<h5>{{ localize "ACTOR.Bio" }}</h5>
{{ editor content=data.biography target="data.biography" owner=owner button=true editable=editable }}
