{{!-- DESCRIPTORS --}}
<section class="stat-pane">
    <div class="stat-header flexrow">
        <h4 class="label">{{localize "ACTOR.Descriptors"}}</h4>
        <a class="stat-button item-create" data-type="descriptor" title="{{localize 'SIS.sheet.newDescriptor'}}">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <ul class="stat-list">
        {{#each descriptors as |descriptor id|}}
        <li class="item stat-item" data-item-id="{{descriptor._id}}">
            <h4 class="item-name">
                <a class="item-edit">
                    {{ descriptor.name }}
                </a>
            </h4>
        </li>
        {{/each}}
    </ul>
</section>