<form class="{{cssClass}}" autocomplete="off">
    <div class="flexrow">
        <div class="flexcol flex3">
            <header class="sheet-header flexrow">
                <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="90"
                    width="90" />
                <section class="header-details flexcol">
                    <div class="flexrow">
                        <div class="stat-field">
                            <div class="sheet-label">
                                <p>{{ localize "Name" }}</p>
                            </div>
                            <input class="full-width" name="name" type="text" value="{{actor.name}}"
                                placeholder="{{ localize 'Name' }}" />
                        </div>
                    </div>
                </section>
            </header>
        </div>
        test
        <section class="oddities-list">
            {{#each weapons as |weapon id|}}
            {{> "systems/sigil_and_shadow/templates/partials/weapon-card.hbs" weapon}}
            {{/each}}
        </section>
        {{!-- <div class="flexcol">
            <div class="sheet-content">
                {{> "systems/sigil_and_shadow/templates/actors/partials/player-attributes-partial.hbs"}}
            </div>
        </div> --}}
    </div>
</form>