<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>                
                <th>{{localize "ITEM.WeaponDamage"}}</th>
                <th>{{localize "ITEM.WeaponRange"}}</th>
                <th>{{localize "ITEM.WeaponAmmo"}}</th>
                <th>{{localize "ITEM.WeaponConceal"}}</th>           
            </tr>
            <tr>               
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.range" type="text" value="{{data.range}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.ammo" type="text" value="{{data.ammo}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.conceal" type="text" value="{{data.conceal}}" data-dtype="String" />
                </td>                           
            </tr>
        </table>
        <!-- <textarea name="data.notes">{{data.description}}</textarea> -->
        {{ editor content=data.notes target="data.notes" owner=owner button=true editable=editable }}
    </div>
</form>