/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.shrink {
  flex-shrink: 1;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Common                                   */
/* ----------------------------------------- */
.full-width {
  width: 100%;
}
.sis.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content .editor {
  height: 100%;
}
.sis.sheet.actor {
  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.sis.sheet.actor .config-button {
  color: #4b4a44;
  right: -6px;
  top: -3px;
  font-size: 10px;
  font-weight: normal;
}
.sis.sheet.actor .sheet-header img.profile {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;
}
.sis.sheet.actor .sheet-header div.input-box {
  padding: 0;
  margin: 0;
}
.sis.sheet.actor .sheet-header div.input-box label {
  color: blue;
}
.sis.sheet.actor .sheet-header div.input-box input {
  height: 30px;
  margin: 0;
  width: 100%;
}
.sis.sheet.actor .sheet-header div.resource-box {
  padding: 0;
  margin: 10px 10px 0 10px;
}
.sis.sheet.actor .sheet-header div.resource-box h5 {
  margin: 0;
}
.sis.sheet.actor .sheet-header div.resource-box h5.title {
  text-align: center;
}
.sis.sheet.actor .sheet-header div.resource-box div.input-cell {
  margin: 0 4px;
}
.sis.sheet.actor .sheet-header div.resource-box input {
  width: 100%;
}
.sis.sheet.actor.player-character form {
  display: flex;
  flex-direction: row;
}
.sis.sheet.actor.player-character .sheet-left {
  max-width: 160px;
  border-right: 1px solid #4b4a44;
  padding: 0 8px;
}
.sis.sheet.actor.player-character .sheet-left img.avatar {
  border-radius: 0;
  flex: 0 0 140px;
  height: 140px;
  max-width: 140px;
  margin-right: 4px;
  -webkit-box-shadow: 2px 2px 16px -10px #42445a;
  -moz-box-shadow: 2px 2px 16px -10px #42445a;
  box-shadow: 2px 2px 16px -10px #42445a;
}
.sis.sheet.actor.player-character .sheet-left .stat-box {
  margin: 12px 0;
  color: #4b4a44;
}
.sis.sheet.actor.player-character .sheet-left .stat-box .input-cell-spacer {
  max-width: 20px;
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-left .stat-box h4 {
  margin: 2px 0 0 0;
}
.sis.sheet.actor.player-character .sheet-left .stat-box h5 {
  margin: 0;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-left .stat-box input {
  text-align: center;
  color: #045f8d;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4b4a44;
  margin: 0;
  font-size: 1.4em;
}
.sis.sheet.actor.player-character .sheet-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile {
  color: #4b4a44;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .character-name {
  height: 40px;
  padding: 0;
  border: none;
  margin: 0 4px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .character-name input {
  background-color: transparent;
  border: none;
  color: #045f8d;
  height: 36px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .input-box {
  margin: 4px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .input-box h4 {
  margin: 2px 0 0 0;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .input-box input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4b4a44;
  color: #045f8d;
  margin: 0;
  font-size: 1.2em;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container {
  justify-content: space-between;
  padding: 8px 0;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box {
  text-align: center;
  margin: 0 6px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box .input-cell-spacer {
  max-width: 20px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h6 {
  margin: 0;
  font-weight: 100;
  font-style: italic;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h4 {
  margin: 2px 0 0 0;
  text-align: left;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h2 {
  margin: 6px 0 0 0;
  border: none;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h2 input {
  border: none;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box input {
  color: #045f8d;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4b4a44;
  margin: 0;
  font-size: 1.2em;
}
.sis.sheet.actor.player-character .sheet-body .sheet-tabs-panel {
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .sheet-tabs-panel .tab {
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .editor {
  height: 100%;
}
