/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.shrink {
  flex-shrink: 1;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Common                                   */
/* ----------------------------------------- */
.full-width {
  width: 100%;
}
.sis.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content .editor {
  height: 100%;
}
.sis.sheet.actor {
  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.sis.sheet.actor .config-button {
  color: #4b4a44;
  right: -6px;
  top: -3px;
  font-size: 10px;
  font-weight: normal;
}
.sis.sheet.actor .sheet-header img.profile {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;
}
.sis.sheet.actor .sheet-header div.input-box {
  padding: 0;
  margin: 0;
}
.sis.sheet.actor .sheet-header div.input-box label {
  color: blue;
}
.sis.sheet.actor .sheet-header div.input-box input {
  height: 30px;
  margin: 0;
  width: 100%;
}
.sis.sheet.actor .sheet-header div.resource-box {
  padding: 0;
  margin: 10px 10px 0 10px;
}
.sis.sheet.actor .sheet-header div.resource-box h5 {
  margin: 0;
}
.sis.sheet.actor .sheet-header div.resource-box h5.title {
  text-align: center;
}
.sis.sheet.actor .sheet-header div.resource-box div.input-cell {
  margin: 0 4px;
}
.sis.sheet.actor .sheet-header div.resource-box input {
  width: 100%;
}
.sis.sheet.actor.player-character form {
  display: flex;
  flex-direction: column;
}
.sis.sheet.actor.player-character .sheet-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-shrink: 1;
}
.sis.sheet.actor.player-character .sheet-header img.profile {
  flex: 0 0 200px;
  max-width: 200px;
  height: 200px;
}
.sis.sheet.actor.player-character .sheet-header .charname {
  flex-grow: 4;
}
.sis.sheet.actor.player-character .sheet-header .editor {
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-header .ability-box {
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-header .ability-box label {
  color: red;
}
.sis.sheet.actor.player-character .sheet-body {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  align-items: flex-start;
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .editor {
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .stat-box {
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-body .stat-box h5 {
  margin: 0;
}
.sis.sheet.actor.player-character .sheet-body .stat-box h5.title {
  color: orange;
}
.sis.sheet.actor.player-character .sheet-body .left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px;
}
