/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Impact-Label';
  src: url('../fonts/impact-label.ttf');
}
@font-face {
  font-family: 'Dymo';
  src: url('../fonts/dymo.ttf');
}
@font-face {
  font-family: 'Silk-Remington';
  src: url('../fonts/silk-remington.ttf');
}
@font-face {
  font-family: 'Mechanical-Machine';
  src: url('../fonts/mechanical-machine.ttf');
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.shrink {
  flex-shrink: 1;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Common                                   */
/* ----------------------------------------- */
.full-width {
  width: 100%;
}
.sis.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sis.sheet.item .sheet-content .editor {
  height: 100%;
}
.sis.sheet.actor {
  /* ----------------------------------------- */
  /*  Shared Styles                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.sis.sheet.actor .config-button {
  color: #4b4a44;
  right: -6px;
  top: -3px;
  font-size: 10px;
  font-weight: normal;
}
.sis.sheet.actor .sheet-header img.profile {
  flex: 0 0 80px;
  max-width: 80px;
  height: 80px;
}
.sis.sheet.actor .sheet-header div.input-box {
  padding: 0;
  margin: 0;
}
.sis.sheet.actor .sheet-header div.input-box label {
  color: blue;
}
.sis.sheet.actor .sheet-header div.input-box input {
  height: 30px;
  margin: 0;
  width: 100%;
}
.sis.sheet.actor .sheet-header div.resource-box {
  padding: 0;
  margin: 10px 10px 0 10px;
}
.sis.sheet.actor .sheet-header div.resource-box h5 {
  margin: 0;
}
.sis.sheet.actor .sheet-header div.resource-box h5.title {
  text-align: center;
}
.sis.sheet.actor .sheet-header div.resource-box div.input-cell {
  margin: 0 4px;
}
.sis.sheet.actor .sheet-header div.resource-box input {
  width: 100%;
}
.sis.sheet.actor.player-character {
  font-family: "Mechanical-Machine";
  font-size: 1.2em;
}
.sis.sheet.actor.player-character form {
  display: flex;
  flex-direction: row;
}
.sis.sheet.actor.player-character h4.label {
  color: #4b4a44;
  margin: 2px 0 0 0;
}
.sis.sheet.actor.player-character h6.label {
  margin: 0;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
.sis.sheet.actor.player-character div.input-cell-spacer {
  max-width: 20px;
  text-align: center;
}
.sis.sheet.actor.player-character div.stat-box {
  color: #4b4a44;
  margin: 6px 4px;
}
.sis.sheet.actor.player-character div.stat-box input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #b5b3a4;
  color: #045f8d;
  margin: 0;
  font-size: 1.2em;
}
.sis.sheet.actor.player-character div.stat-box input.center {
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-left {
  max-width: 160px;
  border-right: 1px solid #b5b3a4;
  padding: 0 8px;
}
.sis.sheet.actor.player-character .sheet-left img.avatar {
  border-radius: 0;
  flex: 0 0 140px;
  height: 140px;
  max-width: 140px;
  margin-right: 4px;
  -webkit-box-shadow: 2px 2px 16px -10px #42445a;
  -moz-box-shadow: 2px 2px 16px -10px #42445a;
  box-shadow: 2px 2px 16px -10px #42445a;
}
.sis.sheet.actor.player-character .sheet-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile {
  color: #4b4a44;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .character-name {
  height: 40px;
  padding: 0;
  border-color: #b5b3a4;
  border-bottom-width: 1px;
  margin: 0 4px 4px 4px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .character-name input {
  background-color: transparent;
  border: none;
  color: #045f8d;
  height: 36px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container {
  justify-content: space-between;
  padding: 8px 0;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box {
  text-align: center;
  margin: 0 6px;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h2 {
  text-align: center;
  margin: 6px 0 0 0;
  border: none;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box h2 input {
  border: none;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box input {
  color: #045f8d;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #b5b3a4;
  margin: 0;
  font-size: 1.2em;
}
.sis.sheet.actor.player-character .sheet-body .sheet-profile .abilities-container .ability-box input.dymo {
  font-family: "Dymo";
  height: 50px;
  color: black;
  font-size: 1.5em;
}
.sis.sheet.actor.player-character .sheet-body .sheet-tabs a {
  font-weight: bold;
}
.sis.sheet.actor.player-character .sheet-body .sheet-tabs-panel {
  height: 100%;
  width: 100%;
}
.sis.sheet.actor.player-character .sheet-body .sheet-tabs-panel .tab {
  width: 100%;
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .editor {
  height: 100%;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-button {
  max-width: 30px;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-actions {
  max-width: 30px;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list {
  list-style-type: none;
  padding: 0;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li {
  color: #4b4a44;
  justify-content: space-between;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li h4 {
  border-bottom: 1px solid #b5b3a4;
  white-space: nowrap;
  margin: 4px;
  padding: 0 0 4px 0px;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li.items-header {
  padding: 0 2px;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li.item h4.item-name {
  color: #045f8d;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li.item h4.item-name i {
  margin: 0 8px;
}
.sis.sheet.actor.player-character .sheet-body .items-pane .items-list li.item .items-icon {
  max-width: 30px;
  text-align: center;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane {
  padding: 4px 4px 0 4px;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-header {
  justify-content: space-between;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-button {
  max-width: 30px;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-list {
  list-style-type: none;
  padding: 0;
  margin: 2px 0;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-list li {
  color: #4b4a44;
  border-bottom: 1px solid #b5b3a4;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-list li.stat-item {
  padding: 0 2px;
  margin-bottom: 4px;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-list li.stat-item h4.item-name {
  color: #045f8d;
  border: none;
  font-size: 1.2em;
  margin-bottom: 0;
}
.sis.sheet.actor.player-character .sheet-body .stat-pane .stat-list li.stat-item h5 {
  margin: 0 0 0.5em 0;
  font-weight: lighter;
}
